.container { max-width: 88%; padding-left: 0; padding-right: 0; }

.site-navigation .site-menu { padding-left: 0; }
h1.site-logo a.h2 { font-size: 1.2rem !important; } 

.sticky-wrapper.is-sticky .site-navbar {
	background: #fff;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.35);
	box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.35);
}
.site-navbar .site-navigation .site-menu > li > a,
.site-navbar .site-navigation .site-menu .active {
	padding: 5px 12px;
}
.site-mobile-menu-body #lang { display: none; }

.site-section p.lead {  text-align: justify; text-justify: inter-word; }

.team-member {
	overflow: hidden;
	box-shadow: 5px 5px 10px;
	border-radius: 8px;
}


.text-primary {
	color: #34a344!important;
}



.btn.btn-primary:active,
.btn.btn-primary:hover {
	background: #fff;
	border-color: #34a344;
	color: #34a344 !important;
}
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
	color: #fff !important;
	background-color: #999;
	border-color: #fff;
}

#contact-box a,
#contact-box a:hover { color: #34a344; }

.form-control {
	border-radius: 10px;
}


.site-footer { padding: 0 0 1em 0; }
.site-footer .lowColorTune { opacity: 0.15; color: #838383; }