.container { max-width: 88%; padding-left: 0; padding-right: 0; }

.site-navigation .site-menu { padding-left: 0; }

.sticky-wrapper.is-sticky .site-navbar {
	background: #fff;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.35);
	box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.35);
}



.team-member {
	overflow: hidden;
	box-shadow: 5px 5px 10px;
	border-radius: 8px;
}


.text-primary {
	color: #34a344!important;
}


#contact-box a,
#contact-box a:active { color: #2d8c3b; }
#contact-box a:hover { color: #34a344; }

.form-control {
	border-radius: 10px;
}


.site-footer { padding: 0 0 1em 0; }
.site-footer .lowColorTune { opacity: 0.15; color: #838383; }