.container { max-width: 88%; padding-left: 0; padding-right: 0; }

.site-navigation .site-menu { padding-left: 0; }









.site-footer { padding: 4em 0 1em 0; }
.site-footer .lowColorTune { opacity: 0.15; color: #838383; }